body{
    background-color: rgb(231, 229, 229);
}
h1{
    background-color: #333;
    padding: 20px;
    padding-bottom: 40px;
    font-family: 'Dosis', sans-serif;
    border-radius: 5px;
    color: beige;
    text-align: center;
    margin-bottom: 0px;
}
a>img{
    float: right;
}
a>img:hover{
    opacity: 50%;
}
nav{
   
    float: left;
}
nav img{
    width: 1.8%;
}
button{
    float: right;
    padding: 10px;
    background-color: #FFC000;
    border-radius: 5px;
    border: 0px;
    
}
button>a{
    text-decoration: none;
    color: #333;
}
button>a:hover{
    color: aqua;
}
button:hover{
    opacity: 50%;
}
form{
    float: right;
    margin: 20px;
    margin-top: 20px;
    position: absolute;
    top: 22%;
    left: 35%;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 20px;
    height: 530px;
   

}
div{
    height: 571px;
    width: 450px;
    background-color: #121567;
    border-radius: 10px;
    margin-top: 49px;
    margin-left: 10px;
}
div>img{
    width: 50%;
    padding-left: 95px;
    padding-top: 145px;
}

form>p{
    color: black;
    font-family: 'Dosis', 'Gill Sans MT', 'Trebuchet MS', sans-serif;

}
input[type="submit"]{
    background-color: #FFC000;
    border-radius: 5px;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer; /*changes cursor when hover over it*/
    width: 100%;
}
input[type="submit"]:hover{
    opacity: 80%;
    color: black;
}
input[type="text"],
input[type="number"],
input[type="email"]
{
    width: 30%; /*filling the border*/
    padding: 12px; /*space between box and place-holder*/
    border: 1px solid #ccc; /*border to input text are*/
    border-radius: 5px;
    margin: 10px;
    font-size: small;
    
}
select,
textarea{
    width: 91.5%; /*filling the border*/
    padding: 12px; /*space between box and place-holder*/
    border: 1px solid #ccc; /*border to input text are*/
    border-radius: 5px;
    margin: 10px;
    font-size: small;

}
fieldset{
    width: 91.1%; 
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* #firstname{
    float: left;
}
#lastname{
    float: right;
}

#email{
    float: left;
}
#phonenumber{
    float: right;
} */
@media screen and (max-width:600px){
    nav img{
        width: 5.8%;
    }
    div>img{
        width: 0%;
        padding-left: 0%;
        padding-top: 0%;
    }
    form{
        float: left;
        margin: 5px;
        position: absolute;
        top: 30%;
        left: 0%;
        background-color: #ffffff;
        border-radius: 15px;
        padding: 20px;
        height: 705px;
    }
    button{
        float: right;
        padding: 10px;
        background-color: #FFC000;
        border-radius: 5px;
        border: 0px;
        margin-top: 10px;
        
    }
    div{
        height: 0px;
        width: 0%;
        background-color: #121567;
        border-radius: 0px;
        margin-top: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }
    input[type="submit"]{
        background-color: #FFC000;
        border-radius: 5px;
        color: white;
        padding: 12px 20px;
        border: none;
        cursor: pointer; /*changes cursor when hover over it*/
        width: 100%;
        margin-top: -20px;
    }
    input[type="submit"]:hover{
        opacity: 80%;
        color: black;
    }
    input[type="text"],
    input[type="number"],
    input[type="email"]
    {
        width: 90%; /*filling the border*/
        padding: 12px; /*space between box and place-holder*/
        border: 1px solid #ccc; /*border to input text are*/
        border-radius: 5px;
        margin: 10px;
        font-size: small;
        
    }
    select,
    textarea{
        width: 91.5%; /*filling the border*/
        padding: 12px; /*space between box and place-holder*/
        border: 1px solid #ccc; /*border to input text are*/
        border-radius: 5px;
        margin: 10px;
        font-size: small;
    
    }
    fieldset{
        width: 91.1%; 
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

}