h1{
    background-color: #333;
    padding: 20px;
    font-family: 'Dosis', sans-serif;
    border-radius: 5px;
    color: beige;
    text-align: center;
}

p{
    margin: 10px;
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 80px;
    padding-right: 80px;
    padding: 40px;
    font-family: 'Open Sans', sans-serif;
    
}
button{
    float: right;
    padding: 10px;
    background-color: #FFC000;
    border-radius: 5px;
    border: 0px;


}
button>a{
    text-decoration: none;
    color: black;
}
button:hover{
    opacity: 50%;
}
button>a:hover{
    color: rgb(25, 124, 91);
    
}
@media screen and (max-width:600px){
    p{
        margin: 10px;
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 10px;
        padding-right: 10px;
        padding: 30px;
        margin-top: -20px;
        font-family: 'Open Sans', sans-serif;
        
}
button{
    float: right;
    padding: 10px;
    background-color: #FFC000;
    border-radius: 5px;
    border: 0px;
    margin-top: -40px;
}
}