body {font-family: Arial, Helvetica, sans-serif;}


input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
footer{
    text-align: right;
    background-color: #333;
    padding: 10px;
    overflow: hidden; /*To avoid float overflow*/
    margin: 5px;
    border-radius: 3px;
}
footer a{
    text-decoration: none;
    color: beige;
    padding: 6px;
    font-family: 'Open Sans', sans-serif;
}
footer a:hover{
    color: tomato;
}
h2{
    text-align: center;
    font-family: 'Dosis', sans-serif;
    background-color: #121567;
    padding: 45px;
    color: white;
    border-radius: 6px;
}
button {
  background-color: #FFC000;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
}

button:hover {
  opacity: 0.8;
  color: green;
}
input{
    width: 25px;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #383632;
}
.cancelbtn>a{
    text-decoration: none;
    color: white;
}
.cancelbtn>a:hover{
    color: green;
}

.imgcontainer {
  text-align: center;
  background-color: beige;
  padding: 20px;
  overflow: hidden;
}

img.avatar {
  width: 28%;
 
}

.containerl,.containers {
  padding: 1px;
  width: 25%;
}
.containerl{
    float: left;
    padding-left: 100px;
    padding-top: 110px;
}
.containers{
    float: right;
    padding-right: 100px;
}
.vl {
  border-left: 6px solid rgb(194, 207, 194);
  height: 400px;
  border-radius: 3px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 0;
  margin-top: 260px;
}
.container1{
    padding: 1px;
    margin-left: 24%;
    margin-right: 24%;
    padding-left: 1%;
  padding-right: 1%;
    width: 50%;
    
}



span.psw {
  float: right;
  padding-top: 16px;
}
.cancelbtn {
  width: 100%;
}
.container1{
  float: bottom;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
}