h1{
    background-color: #333;
    padding: 20px;
    font-family: 'Dosis', sans-serif;
    border-radius: 5px;
    color: white;
    text-align: center;
}
div{
    margin: 10px;
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
    background-color: beige;
    border-radius: 5px;
}
#HiddenText {
    display: none;
}

#DivForHoverItem:hover #HiddenText {
    display:block;
}
.first{
    margin-top: 75px;
}
button{
    float: right;
    padding: 10px;
    background-color: #FFC000;
    border-radius: 5px;
    border: 0px;


}
button>a{
    text-decoration: none;
    color: black;
}
button:hover{
    opacity: 50%;
}
button>a:hover{
    color: rgb(25, 124, 91);
    
}